@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #212121;
    color: #E4E4E4;
    font-family: 'Lato', sans-serif;
    line-height: 1.5;
}